:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;

  --clr-bg: #f7f7ef;
  --clr-text-1: #191919;
  --clr-text-2: #282828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #191919;
    --clr-text-1: #eeece0;
    --clr-text-2: #f7f7ef;
  }
}

/* Simple hack to make implement nested lists*/

ol > ul, ul > ol {
  padding-left: 3em; 
} 

ol, ul { 
  margin-block: 1em; 
}

/*********************************************/

* {
 margin: 0;
 padding: 0;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text-1);
  font-family: var(--font-serif);
}

h1,h2,h3,h4,h5 {
  font-family: var(--font-sans);
  color: var(--clr-text-2);
  margin-block: 1em;
}

em, b {
  color: var(--clr-text-2);
}

code {
  background-color: lightgrey;
  color: black;
  padding: .2em;
}

nav {
  padding: 1em;
  width: 100%;
}

nav a {
  color: var(--clr-text-2);
  font-family: var(--font-sans);
  font-size: 1.5em;
  text-decoration: none;
}

@media (hover: hover) {
  nav a:hover {
    text-decoration: underline;
  }
}

.post-content p, li:not(.listing li) {
  padding-block: .5em;
  max-width: 100ch;
  font-size: 1.1em;
}

.post-content a {
  color: var(--clr-text-2);
}

.post-content, nav, .listing {
  width: 90%;
  margin: 0 auto;
}
