:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eeece0;
    background-color: #191919;
  }

  h1,h2,h3,h4, strong, b, em {
    color: #f7f7ef;
  }
}

/* Simple hack to make implement nested lists*/

ol > ul, ul > ol {
  padding-left: 3em; 
} 

ol, ul { 
  margin-block: 1em; 
}

/*********************************************/

* {
 margin: 0;
 padding: 0;
}

nav {
  padding: 1em;
  width: 100%;
}

nav a {
  color: inherit;
  font-family: var(--font-sans);
  font-size: 1.5em;
  text-decoration: none;
}

@media (hover: hover) {
  nav a:hover {
    text-decoration: underline;
  }
}

h1,h2,h3,h4 {
  font-family: var(--font-sans);
  margin-block: 1em;
}

.listing {
  padding: .5em 2em;
  font-size: 1.1em;
  font-family: var(--font-serif);
}

section p, li:not(.listing li) {
  padding-block: .1em;
  width: 90%;
  max-width: 80ch;
  font-size: 1.3em;
}

section, nav, .listing {
  width: 90%;
  margin: 0 auto;
}
