:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;
}

* {
 margin: 0;
 padding: 0;
 width: 90%;
 margin: 0 auto;
 max-width: 1000px;
}

nav {
  padding: 1.5em;
}

nav a {
  font-weight: bold;
  color: inherit;
  font-family: var(--font-sans);
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


h1,h2,h3,h4 {
  font-family: var(--font-sans);
  margin-block: 1em;
}

p,li {
  font-family: var(--font-serif);
}

p {
  padding-block: .1em;
}

ul {
  margin-block: 1em;
}
