.listing {
  padding: .5em 2em;
  font-size: 1.1em;
}

.listing li {
  margin-block: .2em;
}

.listing li a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-sans);
}

@media (hover: hover) {
  .listing li a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}

