.listing {
  list-style: 1.4em;
}

.listing li {
  margin-block: .2em;
}

.listing li a {
  text-decoration: none;
  font-family: var(--font-sans);
}


@media (hover: hover) {
  .listing li a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}

